<div class="body-inner">
    <!-- Section -->
    <section class="pt-5 pb-5" data-bg-image="images/pages/1.jpg">
        <div class="container-fluid d-flex flex-column">
            <div class="row align-items-center min-vh-100">
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <div class="card shadow-lg">
                        <div class="card-body py-5 px-sm-5">
                            <h3>Register New Account</h3>
                            <p>Create an account by entering the information below. If you are a returning customer
                                please login at the top of the page.</p>
                            <form id="form1" class="form-validate mt-5" action="/signup" method="POST">
                                <div class="h5 mb-4">Account details</div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="email">Email address</label>
                                        <input type="email" class="form-control" name="email"
                                            placeholder="Enter your email" required="">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="password">Password</label>
                                        <div class="input-group ">
                                            <input class="form-control" name="password" id="password"
                                                placeholder="Enter password" type="text" required="">
                                            <span class="input-group-text show-hide" id="passwordToggle"
                                                style="cursor: pointer;"><i class="fa-regular fa-eye-slash"
                                                    aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn m-t-30 mt-3">Submit</button>
                            </form>
                            <div class="mt-4"><small>Already have an acocunt?</small> <a href="/signin"
                                    class="small fw-bold">Sign in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end: Section -->
</div>
<!-- end: Body Inner -->