<div class="body-inner">
    <!-- Section -->
    <section class="pt-5 pb-5" data-bg-image="images/pages/1.jpg">
        <div class="container-fluid d-flex flex-column">
            <div class="row align-items-center min-vh-100">
                <div class="col-md-6 col-lg-4 col-xl-3 mx-auto">
                    <div class="card">
                        <div class="card-body py-5 px-sm-5">
                            <div class="mb-5 text-center">
                                <h6 class="h3 mb-1">{{title}}</h6>
                                <p class="text-muted mb-0">{{description}}</p>
                            </div>
                            <span class="clearfix"></span>
                            <div>
                                <img src="/img/email.png" alt="" class="img-fluid">
                            </div>
                            <div class="mt-4 text-center"><small>Đã có tài khoản?</small> <a href="/signin"
                                    class="small fw-bold">Nhấn vào đây!!!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end: Section -->
</div>
<!-- end: Body Inner -->
<!-- Scroll top -->
<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>