@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,400,500,600,700,800|Nunito:300,400,600,700,800");
section {
  padding: 6rem 0;
  position: relative;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}


section .page-content {
  padding: 0;
}

@media (max-width: 767.98px) {
  section {
    padding: 40px 0;
  }
}
@media (max-width: 991.98px) {
  .container {
    padding: 0 30px;
  }
}

html {
  overflow-x: hidden;
}

body .body-inner {
  padding: 0;
  margin: 0;
}



@media (max-width: 991.98px) {
  body .body-inner {
    width: 100%;
    margin: 0;
  }

}
@media (min-width: 768px) {
  body.boxed .body-inner {
    float: none;
    width: 1200px;
    margin: 0 auto;
  }
  body.modern .body-inner .container {
    max-width: 1500px;
  }
  body.frame:before, body.frame:after {
    border: 10px solid #fff;
    content: "";
    position: fixed;
    width: auto;
    height: 20px;
    z-index: 200;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
    left: 0;
    right: 0;
  }
  body.frame:after {
    bottom: 0;
  }
  body.frame .body-inner {
    padding: 20px;
  }
  body.frame .body-inner:before, body.frame .body-inner:after {
    border: 10px solid #fff;
    content: "";
    position: fixed;
    width: 20px;
    z-index: 200;
    box-shadow: 0px 10px 14px 0 rgba(0, 0, 0, 0.1);
    top: 20px;
    bottom: 20px;
    left: 0;
    right: auto;
  }
  body.frame .body-inner:after {
    left: auto;
    right: 0;
    box-shadow: 0px 10px 14px 0 rgba(0, 0, 0, 0.1);
  }
  
}
.container-fullwidth {
  margin: 0 auto;
}

.container-fullwidth .row {
  padding-left: 15px;
  padding-right: 15px;
}

body.dark {
  background-color: #1e2022;
  color: #e4e6ef;
}

section.dark, .dark section {
  background-color: #1e2022;
  color: #2e2e2e;
}


@media (max-width: 991.98px) {
  #page-content {
    padding: 20px 0 20px 0;
  }
}

#topbar {
  position: relative;
  z-index: 200;
  top: 0;
  background-color: #fff; /*colored*/
}

#topbar .top-contact {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  float: left;
}

#topbar .top-contact > li {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

#topbar .top-contact > li > a {
  color: #3c4043;
  display: block;
  font-size: 12px;
  font-weight: 500;
  height: 40px;
  margin-right: 16px;
}


#topbar .social-icons {
  float: right;
  height: 100%;
  overflow: hidden;
}

#topbar .social-icons li, #topbar .social-icons li a {
  float: left;
  list-style: outside none none;
}

#topbar .social-icons li a {
  border-radius: 0px;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 35px;
  overflow: hidden;
  margin: 0;
}

#topbar.dark {
  background-color: #1e2022;
}

#topbar.dark .top-contact > li > a, #topbar.dark .social-icons li a {
  color: #fff !important;
}

#topbar.topbar-colored, #topbar.topbar-colored.dark {
  background-color: #2250fc;
}

#topbar.topbar-fullwidth > .container {
  max-width: 100%;
  padding: 0 30px;
}

#topbar {
  border-bottom: 1px solid #fbfbfb;
}

#topbar.topbar-dark, #topbar.dark {
  background-color: #252525;
  border-color: rgba(231, 231, 231, 0.25);
}

#topbar.topbar-dark .top-contact > li > a, #topbar.topbar-dark .social-icons li a, #topbar.dark .top-contact > li > a, #topbar.dark .social-icons li a {
  color: #fff !important;
}

#topbar .topbar-light .top-contact > li > a, #topbar .topbar-light .social-icons li a {
  color: #111 !important;
}

#topbar.topbar-dark.topbar-colored {
  border-bottom: 0;
}

#topbar.dark {
  border-bottom: 1px solid rgba(231, 231, 231, 0.05);
}

#topbar.dark.topbar-transparent {
  background-color: transparent;
  border-bottom: 1px solid rgba(144, 144, 144, 0.25);
}

@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body:not(.breakpoint-xs):not(.breakpoint-sm):not(.breakpoint-md) .page-menu nav > ul > li:hover > ul {
  display: block;
  -webkit-animation: fade-in-out 0.3s ease;
  animation: fade-in-out 0.3s ease;
  z-index: 3;
}

*, h1, h2, h3, h4, h5, h6, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}


html {
  font-size: 88%;
}

@media all and (max-width: 768px) {
  html {
    font-size: 81.25%;
  }
}
body {
  font-size: 1rem;
  line-height: 1.65714286em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  color: #3c4043;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  color: #1e2022;
  margin: 0;
  letter-spacing: 0.5px;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
  font-weight: 100;
}

h1, .h1 {
  font-size: 3.14285714em;
  line-height: 1.31818182em;
}

h1:not(:last-child), .h1:not(:last-child) {
  margin-bottom: 20px;
}

h2, .h2 {
  font-size: 2.35714286em;
  line-height: 1.36363636em;
  font-weight: 500;
}

h2:not(:last-child), .h2:not(:last-child) {
  margin-bottom: 16px;
}

h3, .h3 {
  font-size: 1.78571429em;
  line-height: 1.5em;
  font-weight: 500;
}

h3:not(:last-child), .h3:not(:last-child) {
  margin-bottom: 12px;
}

h4, .h4 {
  font-size: 1.35714286em;
  line-height: 1.68421053em;
  font-weight: 600;
}

h4:not(:last-child), .h4:not(:last-child) {
  margin-bottom: 8px;
}

h5, .h5 {
  font-size: 1em;
  line-height: 1.85714286em;
  font-weight: 500;
}

h5:not(:last-child), .h5:not(:last-child) {
  margin-bottom: 6px;
}

h6, .h6 {
  font-size: 0.85714286em;
  line-height: 2.16666667em;
  font-weight: 500;
}

h6:not(:last-child), .h6:not(:last-child) {
  margin-bottom: 6px;
}

.lead {
  font-weight: 400;
}

@media all and (max-width: 767px) {
  h1, .h1 {
    font-size: 2.35714286em;
    line-height: 1.36363636em;
  }
  h2, .h2 {
    font-size: 1.78571429em;
    line-height: 1.5em;
  }
  h3, .h3 {
    font-size: 1.35714286em;
    line-height: 1.85714286em;
  }
  .lead {
    font-size: 1.35714286em;
    line-height: 1.68421053em;
  }
}
.display-4 {
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: 0;
  color: #3c4043;
  font-family: "Poppins", sans-serif;
}

ul.bullets {
  list-style: inside;
}

strong {
  font-weight: 600;
}

del {
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}

a:not(.btn):not(.badge):hover, a:not(.btn):not(.badge):focus, a:not(.btn):not(.badge):active {
  text-decoration: none;
  outline: none;
  color: #2250fc;
}

a:not(.btn):not(.badge):not(.btn):not([href]):not([tabindex]) {
  color: #3c4043;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6, .dark .h1, .dark .h2, .dark .h3, .dark .h4, .dark .h5, .dark .h6 {
  color: #e4e6ef;
}


@media (max-width: 991.98px) {
  #header[data-transparent=true] + main {
    top: -120px;
    margin-bottom: -124px;
    position: relative;
  }
  #header[data-transparent=true] + main > #page-title {
    padding: 220px 0 160px 0;
  }
  #header[data-transparent=true] + .fullscreen {
    top: -80px;
    margin-bottom: -80px;
  }
}

.sidebar > h3:nth-of-type(2) {
  margin-top: 17px;
}




/*  Footer */
/* ----------------------------------------------------------------
    FOOTER
-----------------------------------------------------------------*/
#footer {
  bottom: 0;
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  font-family: inherit;
  
}

#footer a:not(.btn):not(:hover) {
  color: #3c4043;
}

#footer p {
  font-family: inherit;
}

#footer a:not(.btn) {
  font-weight: 400;
}

#footer .footer-content {
  padding: 60px 0 40px 0;
}

#footer .widget .widget-title, #footer .widget h4 {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600; /* ul { li { a { font-family: $headings-font-family; font-size: 15px; line-height: 32px; color: #999; } } } */
}

#footer .widget ul {
  padding-left: 0;
}

#footer .copyright-content {
  min-height: 80px;
  padding: 30px 0;
  background-color: #f1f1f3;
  font-size: 13px;
}

#footer .logo {
  margin-bottom: 54px;
  margin-top: 12px;
  max-width: 80px;
}

#footer .footer-logo {
  border-right: 1px solid #333;
  margin-bottom: 20px;
  margin-right: 18px;
  padding-right: 16px;
}

.dark #footer, #footer.inverted, #footer.dark {
  background-color: #181818;
}

.dark #footer p, #footer.inverted p, #footer.dark p {
  color: #999;
}

.dark #footer a:not(.btn), #footer.inverted a:not(.btn), #footer.dark a:not(.btn) {
  font-weight: 400;
}

.dark #footer a:not(.btn):not(:hover), #footer.inverted a:not(.btn):not(:hover), #footer.dark a:not(.btn):not(:hover) {
  color: #999;
}

.dark #footer h1, .dark #footer h2, .dark #footer h3, .dark #footer h4, .dark #footer h5, .dark #footer h6, #footer.inverted h1, #footer.inverted h2, #footer.inverted h3, #footer.inverted h4, #footer.inverted h5, #footer.inverted h6, #footer.dark h1, #footer.dark h2, #footer.dark h3, #footer.dark h4, #footer.dark h5, #footer.dark h6 {
  color: #fff;
}

.dark #footer .widget .widget-title, .dark #footer .widget h4, #footer.inverted .widget .widget-title, #footer.inverted .widget h4, #footer.dark .widget .widget-title, #footer.dark .widget h4 {
  color: #fff;
}

.dark #footer .copyright-content, #footer.inverted .copyright-content, #footer.dark .copyright-content {
  background-color: #1E1E1E;
}






.form-control.error, .sm-form-control.error {
  border-color: #e42c3e;
}


.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-fixed {
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}



.background-colored {
  background-color: #2250fc;
}

/* ----------------------------------------------------------------
Misc
-----------------------------------------------------------------*/
.show-grid[class*=col-lg-] .show-grid-block {
  background-color: #eeeeee;
  border: 1px solid #ffffff;
  display: block;
  line-height: 40px;
  min-height: 40px;
  text-align: center;
}

.fontawesome-icon-list i {
  font-size: 18px;
  display: inline-block;
  font-size: 1.3em;
  margin-right: 5px;
  position: relative;
  text-align: center;
  top: 2px;
  width: 30px;
  padding: 16px 0px;
}

[class^=icon] {
  display: inline-block;
}

/* ----------------------------------------------------------------------
Images
-------------------------------------------------------------------------*/
.img-thumbnail {
  border: 1px solid #eee;
  padding: 1px;
}

/* ----------------------------------------------------------------------
NEWS MARKETING BOX
-------------------------------------------------------------------------*/
.marketing-box {
  background-color: #f1f1f1;
  border: 1px solid #eee;
  clear: both;
  color: #999;
  height: 100px;
  line-height: 100px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

/* ----------------------------------------------------------------------
NEWS MARKETING BOX
-------------------------------------------------------------------------*/
.news-ticker {
  border-bottom: 1px solid #eee;
  position: relative;
}

.news-ticker-title {
  background-color: #f5f5f5;
  float: left;
  margin-right: 12px;
  height: 100%;
}

.news-ticker-title h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  padding: 20px 30px 17px;
}

.news-ticker-content {
  margin-bottom: 0;
  padding: 14px;
  width: 100%;
}

.news-ticker-content .polo-carousel-item {
  margin-right: 40px;
}

.news-ticker-content .polo-carousel-item a {
  white-space: nowrap;
  padding-right: 40px !important;
}

.news-ticker-content .polo-carousel-item:before {
  color: #d82731;
  content: "\e9be";
  font-family: inspiro-icons !important;
  font-size: 10px;
  margin-left: -32px;
  position: absolute;
}

@media (max-width: 991.98px) {
  .news-ticker {
    display: none;
  }
}
/* ----------------------------------------------------------------------
DEMO GRID
-------------------------------------------------------------------------*/
.grid-system-demo [class*=col-] .grid-col-demo {
  background-color: #eee;
  display: block;
  line-height: 54px;
  min-height: 54px;
  text-align: center;
}

.grid-system-demo .row {
  padding-bottom: 42px;
}

.grid-system-demo-live .row {
  padding-bottom: 42px;
}

/* ----------------------------------------------------------------------
BOXED GRID
-------------------------------------------------------------------------*/
.boxed-grid .row {
  margin-right: -10px;
  margin-left: -10px;
}

.boxed-grid [class*=col-] {
  padding-left: 10px;
  padding-right: 10px;
}

.boxed-grid [class*=col-] a {
  margin-bottom: 20px;
}

.boxed-grid a {
  overflow: hidden;
  display: block;
  position: relative;
}

.boxed-grid a img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.boxed-grid a:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.boxed-grid a .title {
  position: absolute;
  top: 40%;
  left: 30px;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}

/* ----------------------------------------------------------------------
PAGE 404
-------------------------------------------------------------------------*/
.page-error-404 {
  color: #eee;
  display: block;
  font-size: 300px;
  font-weight: 800;
  line-height: 0.7;
}

body.breakpoint-sm .page-error-404 {
  font-size: 200px;
  line-height: 0.8;
  margin-bottom: 20px;
}

body.breakpoint-xs .page-error-404 {
  font-size: 140px;
  line-height: 0.8;
  margin-bottom: 20px;
}

/*animated background*/
.animated-background {
  -webkit-animation: 120s linear 0s normal none infinite running animatedBackground;
  animation: 120s linear 0s normal none infinite running animatedBackground;
  background-repeat: repeat-x;
  background-size: cover;
}

@-webkit-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -3000px 0;
  }
}
@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -3000px 0;
  }
}
@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -3000px 0;
  }
}


/* ----------------------------------------------------------------
Bootstrap row colums fixes
-----------------------------------------------------------------*/
.col-lg-2-5 {
  width: 20%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}




.lines-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 16px;
  background: transparent;
  outline: none;
}

.lines-button > * {
  display: block;
}

.lines-button:hover, .lines-button:focus {
  outline: none;
}

.lines-button::-moz-focus-inner {
  border: 0;
}

.lines {
  display: inline-block;
  height: 2px;
  width: 20px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  top: -4px;
}

.lines::before, .lines::after {
  display: inline-block;
  height: 2px;
  width: 20px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: "";
  position: absolute;
  left: 0;
  -webkit-transform-origin: 2.85714px center;
  -ms-transform-origin: 2.85714px center;
  transform-origin: 2.85714px center;
  width: 100%;
}

.lines::before {
  top: 6px;
}

.lines::after {
  top: -6px;
}

.lines, .lines:before, .lines:after {
  background-color: #111;
}

.toggle-active .lines {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
}

.x {
  width: auto;
}

.x.toggle-active .lines {
  background: transparent !important;
}

.x.toggle-active .lines::before, .x.toggle-active .lines::after {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 26px;
}

.x.toggle-active .lines::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.x.toggle-active .lines::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.toggle-item i {
  position: relative;
}

.toggle-item i:nth-of-type(2) {
  visibility: hidden;
  position: absolute;
}

.toggle-item.toggle-active i:nth-of-type(2) {
  visibility: visible;
  position: relative;
}

.toggle-item.toggle-active i:nth-of-type(1) {
  visibility: hidden;
  position: absolute;
}

.image-hover-zoom {
  position: relative;
  overflow: hidden;
  cursor: url("../images/expand.png"), default; /*hover state*/
}

.image-hover-zoom img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 1;
}

.image-hover-zoom:hover img {
  opacity: 0.3;
}


iframe {
  width: 100%;
}






.text-center {
  text-align: center;
}

.text-left.nav-tabs .nav-item {
  text-align: left !important;
}

.text-right.nav-tabs .nav-item {
  text-align: right !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.center {
  float: none !important;
  margin: 0 auto;
}

.block {
  display: block;
}

.align-center {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
}




.text-bottom {
  display: table-cell;
  vertical-align: bottom;
  margin: auto;
  z-index: 3;
  position: relative;
}





.text-xs, .text-xs span {
  font-size: 30px;
  line-height: 30px;
}

.text-medium-light {
  font-size: 50px !important;
  font-weight: 100;
  line-height: 1.1;
}

.text-medium {
  font-size: 50px !important;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 20px;
}

.text-md, .text-md span, .text-md span span {
  font-size: 74px !important;
  line-height: 86px !important;
}

.text-lg-light, .text-lg-light span, .text-lg-light span span {
  font-size: 90px !important;
  line-height: 100px !important;
  font-weight: 120 !important;
}

.text-lg, .text-lg span, .text-lg span span {
  font-size: 90px;
  line-height: 100px;
  letter-spacing: -0.02em;
  font-weight: 700;
}

.text-lg-x2, .text-lg-x2 span {
  color: #ffffff;
  font-size: 120px;
  line-height: 140px;
  margin-bottom: 10px;
}

.text-lg-x3, .text-lg-x3 span {
  color: #ffffff;
  font-size: 200px;
  line-height: 220px;
}

.text-xl, .text-xl span {
  font-size: 100px;
  line-height: 110px;
}

.text-small {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.1;
}


.m-t-30 {
  margin-top: 30px !important;
}



input:not([type=checkbox]):not([type=radio]), select, .input-group-text {
  min-height: 40px;
}

.form-group {
  margin-bottom: 1rem;
}

.input-group {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
}

.form-control-auto-height {
  height: auto !important;
}

.form-file-upload {
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.form-check-label, .form-file {
  width: 100%;
}

form label {
  text-transform: none;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #2e2e2e;
  display: block;
}

form label .btn, form label button {
  z-index: 2;
}

.input-group input ~ .btn i {
  margin-right: 0;
}



.form-check.image-checkbox .form-check-input {
  position: relative;
  opacity: 0;
}

.form-check.image-checkbox .form-check-input:checked {
  opacity: 1;
}

.form-check.image-checkbox .form-check-input {
  left: 2rem;
}

.input-group-text[data-clipboard] {
  cursor: pointer;
}

.dropdown {
  display: inline-block;
}

.nav-link:after, .dropdown-toggle:after {
  border: 0;
  margin: 0;
  display: none;
}

.dropdown-submenu > .dropdown-item:not(.no-icon):not(.rounded-circle), .dropdown-toggle:not(.no-icon):not(.rounded-circle) {
  position: relative;
  padding: 0.5rem 1.5rem;
}

.dropdown-submenu > .dropdown-item:not(.no-icon):not(.rounded-circle):after, .dropdown-toggle:not(.no-icon):not(.rounded-circle):after {
  border: 0;
}

.dropdown-submenu > .dropdown-item:not(.no-icon):not(.rounded-circle):after, .dropdown-toggle:not(.no-icon):not(.rounded-circle):after {
  content: "";
  position: absolute;
  width: 0.375rem;
  height: 0.375rem;
  border-top: 0.0625rem solid #9aa0a6;
  border-right: 0.0625rem solid #9aa0a6;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  top: 50%;
  right: 1.5rem;
}

.dropdown > .btn:not(.no-icon):not(.rounded-circle) {
  padding-right: 1.65rem;
}

.dropdown-menu {
  font-size: 0.875rem;
  box-shadow: 0 0.625rem 2.5rem 0.625rem rgba(140, 152, 164, 0.175);
  padding: 1rem 0;
}

.dropdown-item {
  padding: 0.5rem 1.5rem;
  color: #1e2022;
  font-size: 0.875rem;
  font-weight: 400;
}

.dropdown-item .badge {
  margin: 0 0.5rem;
}

.dropdown-color-item {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
  margin-top: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
}

.dropdown-header {
  padding: 0.5rem 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}


.card {
  
}

.card .card-title {
  font-weight: 500;
  margin: 0;
  margin-left: 0;
}

.card .card-subtitle {
  color: #9aa0a6;
  font-size: 0.875rem;
  font-weight: 400;
  display: block;
}

.card .card-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: transparent;
}

.card .card-header h3, .card .card-header h4, .card .card-header h5 {
  font-size: 1.275rem;
  margin-bottom: 0 !important;
  font-weight: 600;
}

.card.card-stretch {
  height: 100%;
}

.card-toolbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.grid-layout .card {
  margin-bottom: 0;
}

.card.card-post-shop img {
  width: 100%;
  height: auto;
}

.card.card-post-shop .badge-pill {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  padding: 0;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.14);
  color: #fff;
}

.card .post-video video, .card .post-video iframe {
  width: 100%;
}

.card .post-audio audio, .card .post-audio iframe {
  width: 100%;
}

.badge {
  text-transform: none;
}

.badge i:not(:last-child) {
  margin-right: 0.5rem;
}

.badge.badge-secondary, .badge.bg-light, .badge.badge-soft-secondary, .badge.badge-soft-light {
  color: #2e2e2e;
}

.badge.badge-floating {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
}

.badge.badge-xs {
  font-size: 60% !important;
  padding: 0.2rem 0.3rem !important;
}




/* ----------------------------------------------------------------------
	Buttons
-------------------------------------------------------------------------*/
a:not([href]):not([tabindex]):not(.btn) {
  color: none;
}

button.btn, .btn:not(.close):not(.mfp-close), a.btn:not([href]):not([tabindex]) {
  display: inline-block;
  font-family: inherit;
  border-radius: 0.42rem 0.42rem 0.42rem 0.42rem;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
  outline: none;
  padding: 12px 18px;
  position: relative;
  text-transform: uppercase;
  background-color: #2250fc;
  border-color: #2250fc;
  border-width: 1px;
  border-style: solid;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 6px;
  outline: none;
  line-height: 14px;
  cursor: pointer;
}

button.btn:after, .btn:not(.close):not(.mfp-close):after, a.btn:not([href]):not([tabindex]):after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button.btn i, .btn:not(.close):not(.mfp-close) i, a.btn:not([href]):not([tabindex]) i {
  text-shadow: none;
}

button.btn.btn-xs, .btn:not(.close):not(.mfp-close).btn-xs, a.btn:not([href]):not([tabindex]).btn-xs {
  font-size: 10px;
  height: 24px;
  line-height: 22px;
  padding: 0 10px;
}

button.btn.btn-sm, .btn:not(.close):not(.mfp-close).btn-sm, a.btn:not([href]):not([tabindex]).btn-sm {
  font-size: 11px;
  height: 30px;
  line-height: 28px;
  padding: 0 14px;
}

button.btn.btn-lg, .btn:not(.close):not(.mfp-close).btn-lg, a.btn:not([href]):not([tabindex]).btn-lg {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 28px;
  padding: 14px 40px;
}

button.btn:hover, button.btn:focus, button.btn:not(:disabled):not(.disabled):active, button.btn:not(:disabled):not(.disabled).active, .btn:not(.close):not(.mfp-close):hover, .btn:not(.close):not(.mfp-close):focus, .btn:not(.close):not(.mfp-close):not(:disabled):not(.disabled):active, .btn:not(.close):not(.mfp-close):not(:disabled):not(.disabled).active, a.btn:not([href]):not([tabindex]):hover, a.btn:not([href]):not([tabindex]):focus, a.btn:not([href]):not([tabindex]):not(:disabled):not(.disabled):active, a.btn:not([href]):not([tabindex]):not(:disabled):not(.disabled).active {
  background-color: #0333e8;
  border-color: #0333e8;
  color: #fff;
  text-decoration: none;
}


button.btn.btn-block, .btn:not(.close):not(.mfp-close).btn-block, a.btn:not([href]):not([tabindex]).btn-block {
  width: 100%;
  display: block;
}


button.btn:not(.btn-shadow):focus, button.btn:not(.btn-shadow):focus:active, .btn:not(.close):not(.mfp-close):not(.btn-shadow):focus, .btn:not(.close):not(.mfp-close):not(.btn-shadow):focus:active, a.btn:not([href]):not([tabindex]):not(.btn-shadow):focus, a.btn:not([href]):not([tabindex]):not(.btn-shadow):focus:active {
  box-shadow: none !important;
}


button.btn.btn-primary, .btn:not(.close):not(.mfp-close).btn-primary, a.btn:not([href]):not([tabindex]).btn-primary {
  background-color: #2250fc;
  border-color: #2250fc;
}

button.btn.btn-primary:hover, button.btn.btn-primary:focus, button.btn.btn-primary:not(:disabled):not(.disabled):active, button.btn.btn-primary:not(:disabled):not(.disabled).active, .btn:not(.close):not(.mfp-close).btn-primary:hover, .btn:not(.close):not(.mfp-close).btn-primary:focus, .btn:not(.close):not(.mfp-close).btn-primary:not(:disabled):not(.disabled):active, .btn:not(.close):not(.mfp-close).btn-primary:not(:disabled):not(.disabled).active, a.btn:not([href]):not([tabindex]).btn-primary:hover, a.btn:not([href]):not([tabindex]).btn-primary:focus, a.btn:not([href]):not([tabindex]).btn-primary:not(:disabled):not(.disabled):active, a.btn:not([href]):not([tabindex]).btn-primary:not(:disabled):not(.disabled).active {
  background-color: #0333e8;
  border-color: #0333e8;
  color: #fff;
}


button.btn.btn-creative, .btn:not(.close):not(.mfp-close).btn-creative, a.btn:not([href]):not([tabindex]).btn-creative {
  padding: 24px 40px;
  font-size: 15px;
  font-weight: 600;
}

button.btn.btn-creative:before, .btn:not(.close):not(.mfp-close).btn-creative:before, a.btn:not([href]):not([tabindex]).btn-creative:before {
  right: 58px;
}

button.btn.btn-creative i, .btn:not(.close):not(.mfp-close).btn-creative i, a.btn:not([href]):not([tabindex]).btn-creative i {
  margin-left: 54px;
  margin-right: -16px;
}

button.btn.btn-facebook, .btn:not(.close):not(.mfp-close).btn-facebook, a.btn:not([href]):not([tabindex]).btn-facebook {
  background-color: #3b5998 !important;
  color: #ffffff !important;
  border-width: 0;
}

button.btn.btn-twitter, .btn:not(.close):not(.mfp-close).btn-twitter, a.btn:not([href]):not([tabindex]).btn-twitter {
  background-color: #00aced !important;
  color: #ffffff !important;
  border-width: 0;
}

button.btn.btn-linkedin, .btn:not(.close):not(.mfp-close).btn-linkedin, a.btn:not([href]):not([tabindex]).btn-linkedin {
  background-color: #007bb6 !important;
  color: #ffffff !important;
  border-width: 0;
}

button.btn.btn-googleplus, .btn:not(.close):not(.mfp-close).btn-googleplus, a.btn:not([href]):not([tabindex]).btn-googleplus {
  background-color: #dd4b39 !important;
  color: #ffffff !important;
  border-width: 0;
}

button.btn.btn-instagram, .btn:not(.close):not(.mfp-close).btn-instagram, a.btn:not([href]):not([tabindex]).btn-instagram {
  background-color: #517fa4 !important;
  color: #ffffff !important;
  border-width: 0;
}

button.btn.btn-youtube, .btn:not(.close):not(.mfp-close).btn-youtube, a.btn:not([href]):not([tabindex]).btn-youtube {
  background-color: #bb0000 !important;
  color: #ffffff !important;
  border-width: 0;
}

button.btn.btn-github, .btn:not(.close):not(.mfp-close).btn-github, a.btn:not([href]):not([tabindex]).btn-github {
  background-color: #171515 !important;
  color: #ffffff !important;
  border-width: 0;
}

button.btn + .btn, .btn:not(.close):not(.mfp-close) + .btn, a.btn:not([href]):not([tabindex]) + .btn {
  margin-left: 4px;
}



@media (max-width: 991.98px) {
  button.btn:not(.btn-creative):not(.btn-slide), .btn:not(.close):not(.mfp-close):not(.btn-creative):not(.btn-slide), a.btn:not([href]):not([tabindex]):not(.btn-creative):not(.btn-slide) {
    font-size: 12px;
    height: 32px;
    line-height: 30px;
    padding: 0 14px;
  }
  button.btn:not(.btn-creative):not(.btn-slide).btn-reveal:hover span, .btn:not(.close):not(.mfp-close):not(.btn-creative):not(.btn-slide).btn-reveal:hover span, a.btn:not([href]):not([tabindex]):not(.btn-creative):not(.btn-slide).btn-reveal:hover span {
    left: auto;
    right: auto;
  }
  button.btn:not(.btn-creative):not(.btn-slide).btn-reveal:hover i, .btn:not(.close):not(.mfp-close):not(.btn-creative):not(.btn-slide).btn-reveal:hover i, a.btn:not([href]):not([tabindex]):not(.btn-creative):not(.btn-slide).btn-reveal:hover i {
    display: none;
  }
  button.btn:not(.btn-creative):not(.btn-slide).btn-lg, .btn:not(.close):not(.mfp-close):not(.btn-creative):not(.btn-slide).btn-lg, a.btn:not([href]):not([tabindex]):not(.btn-creative):not(.btn-slide).btn-lg {
    font-size: 13px;
    height: 38px;
    line-height: 36px;
    padding: 0 24px;
  }
  button.btn:not(.btn-creative):not(.btn-slide).btn-sm, .btn:not(.close):not(.mfp-close):not(.btn-creative):not(.btn-slide).btn-sm, a.btn:not([href]):not([tabindex]):not(.btn-creative):not(.btn-slide).btn-sm {
    font-size: 11px;
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
  }
  button.btn:not(.btn-creative):not(.btn-slide).btn-xs, .btn:not(.close):not(.mfp-close):not(.btn-creative):not(.btn-slide).btn-xs, a.btn:not([href]):not([tabindex]):not(.btn-creative):not(.btn-slide).btn-xs {
    font-size: 10px;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
  }
}
.dark:not(.submenu-light) a.btn:not([href]):not([tabindex]).btn-shadow, .dark:not(.submenu-light) .btn.btn-shadow {
  box-shadow: 0 4px 16px #292929;
}

.dark:not(.submenu-light) a.btn:not([href]):not([tabindex]).btn-shadow:hover, .dark:not(.submenu-light) a.btn:not([href]):not([tabindex]).btn-shadow:focus, .dark:not(.submenu-light) a.btn:not([href]):not([tabindex]).btn-shadow:not(:disabled):not(.disabled):active, .dark:not(.submenu-light) a.btn:not([href]):not([tabindex]).btn-shadow:not(:disabled):not(.disabled).active, .dark:not(.submenu-light) .btn.btn-shadow:hover, .dark:not(.submenu-light) .btn.btn-shadow:focus, .dark:not(.submenu-light) .btn.btn-shadow:not(:disabled):not(.disabled):active, .dark:not(.submenu-light) .btn.btn-shadow:not(:disabled):not(.disabled).active {
  box-shadow: 4px 8px 16px #1d1d1d;
}


/* ----------------------------------------------------------------------
	Social Icons
-------------------------------------------------------------------------*/
.social-icons {
  line-height: 0;
}

.social-icons ul {
  padding: 0;
  margin: 0;
}

.text-center.social-icons ul {
  display: inline-block;
}

.social-icons li {
  float: left;
  list-style: none;
}

.social-icons li a {
  float: left;
  height: 32px;
  width: 32px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  margin: 0 4px 4px 0;
  border-radius: 4px;
  border: 0;
  background: transparent;
  color: #333;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dark .social-icons li a {
  color: #fff;
}

.social-icons.social-icons-colored a, .social-icons.social-icons-colored-hover a:hover {
  color: #fff !important;
  border: 0;
}

.social-icons.social-icons-colored .social-facebook a, .social-icons.social-icons-colored-hover .social-facebook a:hover {
  background-color: #5d82d1;
}

.social-icons.social-icons-colored .social-twitter a, .social-icons.social-icons-colored-hover .social-twitter a:hover {
  background-color: #40bff5;
}


.social-icons.social-icons-colored .social-youtube a, .social-icons.social-icons-colored-hover .social-youtube a:hover {
  background-color: #ef4e41;
}

.social-icons.social-icons-colored .social-instagram a, .social-icons.social-icons-colored-hover .social-instagram a:hover {
  background-color: #e53d00;
}

.social-icons.social-icons-colored .social-gplus a, .social-icons.social-icons-colored-hover .social-gplus a:hover {
  background-color: #d68400;
}

.social-icons.social-icons-colored .social-pinterest a, .social-icons.social-icons-colored-hover .social-pinterest a:hover {
  background-color: #e13138;
}

.social-icons.social-icons-colored .social-google a, .social-icons.social-icons-colored-hover .social-google a:hover {
  background-color: #eb5e4c;
}


.social-icons.social-icons-colored .social-linkedin a, .social-icons.social-icons-colored-hover .social-linkedin a:hover {
  background-color: #238cc8;
}


.social-icons.social-icons-colored .social-github a, .social-icons.social-icons-colored-hover .social-github a:hover {
  background-color: #3f91cb;
}

.social-icons.social-icons-border li a {
  border: 1px solid #d7d7d7;
  background: transparent;
  color: #333;
}

.dark .social-icons.social-icons-border li a {
  border: 1px solid #333 !important;
}

.dark .social-icons li a .social-icons.social-icons-dark li a {
  background: #888;
  color: #fff;
}

.social-icons:not(.social-icons-colored):not(.social-icons-colored-hover) li a:hover {
  background-color: #eee;
}

.dark .social-icons:not(.social-icons-colored):not(.social-icons-colored-hover) li a:hover {
  background-color: #1e2022;
}

.social-icons li:hover i {
  -webkit-animation: toTopFromBottom 0.3s forwards;
  animation: toTopFromBottom 0.3s forwards;
}

@-webkit-keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}

[data-bg-image] {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

[data-bg-image]::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: #1e2022;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

[data-bg-image].bg-loaded::before {
  opacity: 0;
}

body[data-bg-image] {
  background-attachment: fixed;
  background-position: top center;
}

section {
  padding: 80px 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  background-color: #fff;
}
