<div class="body-inner">
    <!-- Section -->
    <section class="pt-5 pb-5" data-bg-image="images/pages/1.jpg">
        <div class="container-fluid d-flex flex-column">
            <div class="row align-items-center min-vh-100">
                <div class="col-md-6 col-lg-4 col-xl-3 mx-auto">
                    <div class="card">
                        <div class="card-body py-5 px-sm-5">
                            <div class="mb-5 text-center">
                                <h2 class="h2 mb-1">Thay đổi mật khẩu</h2>
                                <form class="form-validation" action="/forgot" method="POST">
                                    <div class="form-group">
                                        <p class="center">Hãy nhập mật khẩu mới của bạn.
                                        </p>
                                        <input type="hidden" value="{{token}}" name="token">
                                        <label for="email" style="text-align: left;">Email</label>
                                        <input type="text" name="email" value="{{email}}"
                                            class="form-control form-white placeholder" placeholder="Hãy nhập email..."
                                            required readonly>
                                        <label for="password" style="text-align: left;">Mật khẩu</label>
                                        <input type="password" name="password"
                                            class="form-control form-white placeholder"
                                            placeholder="Hãy nhập mật khẩu mới" required>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                                    </div>
                                </form>

                                <div class="mt-4"><small>Already have an acocunt?</small> <a href="/login"
                                        class="small fw-bold">Sign in</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </section>
    <!-- end: Section -->
</div>
<!-- end: Body Inner -->
<!-- Scroll top -->
<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>