<div id="header" class="header navbar-default hidden-print">
    <!-- Topbar -->
    <div id="topbar" class="dark topbar-fullwidth">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="top-contact">
                        <li><a href="#">SĐT Hỗ Trợ: 0123456789</a></li>
                        <li><a href="#">Email Hỗ Trợ: abc@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-md-6 d-none d-sm-block">
                    <div class="social-icons social-icons-colored-hover">
                        <ul>
                            <li class="social-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-google"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            <li class="social-youtube"><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: Topbar -->
    <!-- begin navbar-header -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed navbar-toggle-left" data-click="sidebar-minify">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">
            MY TINY WORLD </a>

        {{!-- <a href="/" class="navbar-brand image">
            <div class="image">
                <img src="/img/logo.png" alt="" style="display: block; width: 100px; height: auto; ">
            </div>
        </a> --}}
    </div>
    <!-- end navbar-header -->

    <!-- begin header-nav -->
    <ul class="navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle icon">
                <i class="fa-solid fa-comment"></i>
                <span class="label">0</span>
            </a>

            <div class="dropdown-menu media-list dropdown-menu-right" style="max-height: 350px; overflow-y: auto;">
                <div class="dropdown-header">EXPIRED LEASES (0)</div>

                <div class="dropdown-header">Open Complaints (0)</div>
            </div>
        </li>
        <li class="dropdown navbar-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                <span class="d-md-inline">Hi, Admin<img src="#"></span> </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="/change_password" class="dropdown-item">Đổi Mật Khẩu</a>
                <div class="dropdown-divider"></div>
                <a href="/logout" class="dropdown-item">Log Out</a>
            </div>
        </li>
    </ul>
    <!-- end header navigation right -->

    {{!-- Search form --}}
    {{!-- <div class="search-form">
        <button class="search-btn" type="submit"><i class="material-icons">search</i></button>
        <input type="text" class="form-control" placeholder="Search Something...">
        <a href="#" class="close" data-dismiss="navbar-search"><i class="material-icons">close</i></a>
    </div> --}}
</div>