{{!-- begin content --}}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Xin Chào!!!<small>02 April, 2024</small></h1>
    <!-- end page-header -->

    <!-- begin row -->
    <div class="row">
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="fa fa-building"></i></div>
                <div class="stats-info">
                    <h4><b>Tổng Phòng</b></h4>
                    <p>1</p>
                </div>
                <div class="stats-link">
                    <a href="/rooms">View Details <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="fa fa-building"></i></div>
                <div class="stats-info">
                    <h4><b>Phòng Trống</b></h4>
                    <p>0</p>
                </div>
                <div class="stats-link">
                    <a href="http://localhost/mars/unoccupied_rooms">View Details <i
                            class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="fa fa-building"></i></div>
                <div class="stats-info">
                    <h4><b>Phòng Đang Thuê</b></h4>
                    <p>1</p>
                </div>
                <div class="stats-link">
                    <a href="http://localhost/mars/occupied_rooms">View Details <i
                            class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="fa fa-user"></i></div>
                <div class="stats-info">
                    <h4><b>Tổng Nhân Viên</b></h4>
                    <p>1</p>
                </div>
                <div class="stats-link">
                    <a href="http://localhost/mars/staff">View Details <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="fa fa-users"></i></div>
                <div class="stats-info">
                    <h4><b>Tổng Khách Đang Ở</b></h4>
                    <p>1</p>
                </div>
                <div class="stats-link">
                    <a href="http://localhost/mars/tenants">View Details <i
                            class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="fa fa-users"></i></div>
                <div class="stats-info">
                    <h4><b>Khách Hết Hạn</b></h4>
                    <p>0</p>
                </div>
                <div class="stats-link">
                    <a href="http://localhost/mars/inactive_tenants">View Details <i
                            class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="fa fa-users"></i></div>
                <div class="stats-info">
                    <h4><b>Khách Đang Ở</b></h4>
                    <p>1</p>
                </div>
                <div class="stats-link">
                    <a href="http://localhost/mars/active_tenants">View Details <i
                            class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="fa fa-podcast"></i></div>
                <div class="stats-info">
                    <h4><b>Thông Báo</b></h4>
                    <p>0</p>
                </div>
                <div class="stats-link">
                    <a href="http://localhost/mars/notices">View Details <i
                            class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="far fa-credit-card"></i></div>
                <div class="stats-info">
                    <h4><b>Tổng Hóa Đơn</b></h4>
                    <p>0</p>
                </div>
                <div class="stats-link">
                    <a href="http://localhost/mars/invoices">View Details <i
                            class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="far fa-credit-card"></i></div>
                <div class="stats-info">
                    <h4><b>Hóa Đơn Chưa Thanh Toán</b></h4>
                    <p>0</p>
                </div>
                <div class="stats-link">
                    <a href="http://localhost/mars/unpaid_invoices">View Details <i
                            class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="far fa-credit-card"></i></div>
                <div class="stats-info">
                    <h4><b>Hóa Đơn Đã Thanh Toán</b></h4>
                    <p>0</p>
                </div>
                <div class="stats-link">
                    <a href="http://localhost/mars/paid_invoices">View Details <i
                            class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="fa fa-money-bill-alt"></i></div>
                <div class="stats-info">
                    <h4><b>Tổng Hóa Đơn Dịch Vụ</b></h4>
                    <p>0</p>
                </div>
                <div class="stats-link">
                    <a href="http://localhost/mars/utility_bills">View Details <i
                            class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="fa fa-life-ring"></i></div>
                <div class="stats-info">
                    <h4><b>Tổng Khiếu Nại</b></h4>
                    <p>0</p>
                </div>
                <div class="stats-link">
                    <a href="http://localhost/mars/complaints">View Details <i
                            class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="fa fa-life-ring"></i></div>
                <div class="stats-info">
                    <h4><b>Khiếu Nại Mở</b></h4>
                    <p>0</p>
                </div>
                <div class="stats-link">
                    <a href="http://localhost/mars/open_complaints">View Details <i
                            class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="fa fa-life-ring"></i></div>
                <div class="stats-info">
                    <h4><b>Khiếu Nại Đóng</b></h4>
                    <p>0</p>
                </div>
                <div class="stats-link">
                    <a href="http://localhost/mars/closed_complaints">View Details <i
                            class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="fas fa-credit-card"></i></div>
                <div class="stats-info">
                    <h4><b>Tổng Chi Phí</b></h4>
                    <p>0</p>
                </div>
                <div class="stats-link">
                    <a href="http://localhost/mars/expenses">View Details <i
                            class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->

        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="note note-light m-b-15">
                <h5><b>Tổng tiền tháng này, 2024</b></h5>
                <p>
                    USD 0 </p>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="note note-light m-b-15">
                <h5><b>Tổng tiền tháng này, 2024</b></h5>
                <p>
                    USD 0 </p>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="note note-light m-b-15">
                <h5><b>Tổng tiền tháng này, 2024</b></h5>
                <p>
                    USD 0 </p>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="note note-light m-b-15">
                <h5><b>Tổng tiền tháng này, 2024</b></h5>
                <p>
                    USD 0 </p>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="note note-light m-b-15">
                <h5><b>Tổng tiền tháng này, 2024</b></h5>
                <p>
                    USD 0 </p>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="note note-light m-b-15">
                <h5><b>Tổng tiền tháng này, 2024</b></h5>
                <p>
                    USD 0 </p>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="note note-light m-b-15">
                <h5><b>Tổng tiền tháng này, 2024</b></h5>
                <p>
                    USD 0 </p>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="note note-light m-b-15">
                <h5><b>Tổng tiền tháng này, 2024</b></h5>
                <p>
                    USD 0 </p>
            </div>
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
</div>



{{!-- end content --}}