<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Phòng</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">
        <a href="#">
            <button type="button" class="btn btn-inverse"><i class="fa fa-plus"></i>Thêm Phòng</button>
        </a>
    </h1>
    <!-- end page-header -->

    <!-- begin row -->
    <div class="row">
        <div class="col-12">
            <form id="f-room-sale" name="f-room-sale" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body p-l-2 p-r-2">
                        <div class="form-group row m-b-6">
                            <div class="col-12">
                                <div class="row m-b-0">
                                    <div class="col-12 col-md-6 m-t-5 m-b-10">
                                        <div class="row">
                                            <div class="col-4">
                                                <label
                                                    class="col-form-label custom-field__textbox--label text-color-dark-blue">Tỉnh/Thành
                                                    phố </label>
                                                <select
                                                    class="form-control form-control-sm custom-field__textbox text-color-dark-blue select2-hidden-accessible"
                                                    id="provincial-code" name="provincial-code"
                                                    data-select2-id="provincial-code" tabindex="-1" aria-hidden="true">
                                                    <option value=""></option>



                                                </select>

                                            </div>
                                            <div class="col-4">
                                                <label
                                                    class="col-form-label custom-field__textbox--label text-color-dark-blue">Quận/Huyện
                                                </label>
                                                <select
                                                    class="form-control form-control-sm custom-field__textbox text-color-dark-blue select2-hidden-accessible"
                                                    id="district-code" name="district-code"
                                                    data-select2-id="district-code" tabindex="-1" aria-hidden="true">
                                                    <option value="" data-select2-id="21"></option>

                                                </select>

                                            </div>
                                            <div class="col-4 ">
                                                <label
                                                    class="col-form-label custom-field__textbox--label text-color-dark-blue">Phường/Xã</label>
                                                <select
                                                    class="form-control form-control-sm custom-field__textbox text-color-dark-blue select2-hidden-accessible"
                                                    id="ward-code" name="ward-code" data-select2-id="ward-code"
                                                    tabindex="-1" aria-hidden="true">
                                                    <option value="" data-select2-id="22"></option>
                                                </select>

                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-12 col-md-6 m-t-5 m-b-10">
                                        <div class="row">
                                            <div class="col-6">
                                                <label
                                                    class="col-form-label custom-field__textbox--label text-color-dark-blue">Nhà</label>
                                                <select
                                                    class="form-control form-control-sm custom-field__textbox text-color-dark-blue select2-hidden-accessible"
                                                    id="house-id" name="house-id" style="width:100%;"
                                                    data-select2-id="house-id" tabindex="-1"
                                                    aria-hidden="true"></select>

                                            </div>
                                            <div class="col-6">
                                                <label
                                                    class="col-form-label custom-field__textbox--label text-color-dark-blue">Trạng
                                                    thái
                                                    phòng</label>
                                                <select
                                                    class="form-control form-control-sm custom-field__textbox text-color-dark-blue select2-hidden-accessible"
                                                    id="allow-sale" name="allow-sale" data-select2-id="allow-sale"
                                                    tabindex="-1" aria-hidden="true">
                                                    <option value="ALL">Tất cả</option>
                                                    <option value="Y" data-select2-id="17">Phòng
                                                        được bán</option>
                                                    <option value="N">Phòng không được bán</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="row ">
                                            <div class="col-12 m-t-10 ">
                                                <button class="btn btn-sm btn-info float-right" data-action="search"
                                                    type="button" title="Tìm kiếm">Tìm kiếm</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="form-group m-b-5 m-t-7" id="scrollpagination">
                            <div id="content" class="row">
                                <div class="col-md-6 col-lg-6 col-xlg-4 m-b-10 content-room"
                                    data-key="63dcc5c2511ff4797a397b6b" is-process="Y"
                                    data-house_key="63dcc5c2511ff4797a397b62">
                                    <div class="card card-body p-2 m-b-10" style="min-height: 200px; ">
                                        <div class="row">




                                            <div class="row">
                                                <div class="col-12">
                                                    <p style="margin-bottom: 0;overflow: hidden;text-overflow: ellipsis;line-height: 12px; "
                                                        class="text-color-room-caretaker text-center fs-13 p-t-5 p-b-5">
                                                        <span class="span-house" style="color: #176ca7;">Phòng 103</span>
                                                        <span class="span-house" style="color: #176ca7;"> - </span>
                                                        <span class="span-house" style="color: #176ca7;">47/2/43 BÙI
                                                            ĐÌNH TUÝ</span>
                                                    </p>
                                                </div>

                                                <div class="">
                                                    <div class="small text-center " style="width: 100% !important;">
                                                        <i class="mdi mdi-arrow-right-thick "></i><span
                                                            class="span-address ">47/2/43 BÙI ĐÌNH TUÝ, Phường 24,
                                                            Quận Bình Thạnh, Thành phố Hồ Chí Minh</span>&nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">

                                                    <div class="row">
                                                        <div class="col-6 col-lg-6 small">
                                                            <div style="white-space: nowrap;"><span>Điện:
                                                                </span><span class="fw-700">4,000</span><span
                                                                    class="fw-700">/kWh</span></div>
                                                            <div style="white-space: nowrap;"><span>Nước:
                                                                </span><span class="fw-700">100,000</span><span
                                                                    class="fw-700">/ng</span></div>
                                                            <div style="white-space: nowrap;"><span>Xe: </span><span
                                                                    class="fw-700">100,000</span><span
                                                                    class="fw-700">/xe</span></div>
                                                            <div style="white-space: normal;"><span>Quản lý:
                                                                </span><span class="fw-700">0</span><span
                                                                    class="fw-700">/ng</span></div>
                                                        </div>
                                                        <div class="col-6 col-lg-6 small">
                                                            <div style="white-space: nowrap;"><span>Wifi:
                                                                </span><span class="fw-700">Miễn phí</span></div>
                                                            <div style="white-space: nowrap;"><span>M.giặt:
                                                                </span><span class="fw-700">20,000</span><span
                                                                    class="fw-700">đ/lần</span></div>
                                                            <div style="white-space: nowrap;"><span>Thẻ:
                                                                </span><span class="fw-700">0</span><span
                                                                    class="fw-700">/ng</span></div>
                                                            <div style="white-space: normal;"><span>Phí DV:
                                                                </span><span class="fw-700">200,000</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div style="margin-bottom: 0;"
                                                    class="text-color-room-live text-left fs-11">


                                                    <span class="fs-10 c-pointer" data-sub-action="del-sale">Phòng được
                                                        bán</span>
                                                    <span><i class="mdi mdi-checkbox-marked-outline fs-15 text-info c-pointer"
                                                            data-sub-action="del-sale" title="Xóa bán phòng"></i></span>

                                                    <span class="fs-10 c-pointer text-success"
                                                        data-sub-action="edit-room-info"><i
                                                            class="mdi mdi-pencil c-pointer"></i>Edit phòng</span>


                                                    <span class="fs-10 c-pointer" data-sub-action="edit-house-name"><i
                                                            class="mdi mdi-home c-pointer"></i>Xem nhà</span>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="row div-noi-that">
                                            <div class="col-12">
                                                <hr>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Phòng: </span><span class="fw-800">Phòng thường</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Vị trí: </span><span class="fw-800">Lầu 1</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Diện tích: </span><span class="fw-800">28m2</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Toilet: </span><span class="fw-800">Riêng</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Để xe: </span><span class="fw-800">Chung</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Sân phơi: </span><span class="fw-800">Chung</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small p-r-0">
                                                        <span>Khóa cổng: </span><span class="fw-800">Khóa thường</span>
                                                    </div>
                                                    <div class="col-8 small p-0">
                                                        <span>Giờ giấc: </span><span class="fw-800">Tự do</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small p-r-0">
                                                        <span>SL xe: </span><span class="fw-800">3</span>
                                                    </div>
                                                    <div class="col-8 small p-0">
                                                        <span>SL người: </span><span class="fw-800">3</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small p-r-0">
                                                        <span>Cọc giữ chổ: </span><span class="fw-800">2,000,000</span>
                                                    </div>
                                                    <div class="col-4 small p-0">
                                                        <span>Hẹn bổ sung cọc: </span><span class="fw-800">5ngay</span>
                                                    </div>
                                                    <div class="col-4 small">
                                                        <span>Hẹn dọn vào: </span><span class="fw-800">7ngay</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <hr>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Gác: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Cửa sổ: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Ban công: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Tủ lạnh: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Tivi: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Máy giặt: </span><span class="fw-800">Chung</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Kệ bếp: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Bồn rửa chén: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Nước nóng: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Giường: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Nệm: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Tủ quần áo: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Chung chủ: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Thang máy: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Bảo vệ: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Máy lạnh: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Giếng trời: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small ">

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 small ">
                                                        <span>Nuôi thú cưng: </span><span class="fw-800">Không</span>
                                                    </div>
                                                </div>



                                                <div class="row">
                                                    <div class="col-12 small ">
                                                        <span>Ghi chú: </span>
                                                        <p class="fw-800"
                                                            style="white-space: pre-line;line-height: 12px;">HĐ 6-12 tháng,
                                                            HĐ 6 tháng cọc 1 tháng
                                                            HĐ 12 tháng cọc 1 tháng rưỡi
                                                            30/8 trống</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6 col-xlg-4 m-b-10 content-room"
                                    data-key="63dcc5c2511ff4797a397b8e" is-process="Y"
                                    data-house_key="63dcc5c2511ff4797a397b62">
                                    <div class="card card-body p-2 m-b-10" style="min-height: 200px; ">
                                        <div class="row">

                                            <div class="row">
                                                <div class="col-12">
                                                    <p style="margin-bottom: 0;overflow: hidden;text-overflow: ellipsis;line-height: 12px; "
                                                        class="text-color-room-caretaker text-center fs-13 p-t-5 p-b-5">
                                                        <span class="span-house" style="color: #176ca7;">Phòng 502</span>
                                                        <span class="span-house" style="color: #176ca7;"> - </span>
                                                        <span class="span-house" style="color: #176ca7;">47/2/43 BÙI
                                                            ĐÌNH TUÝ</span>

                                                    </p>
                                                </div>

                                                <div class="col-12">
                                                    <div class="small text-center " style="width: 90% !important;">
                                                        <i class="mdi mdi-arrow-right-thick"></i><span
                                                            class="span-address">47/2/43 BÙI ĐÌNH TUÝ, Phường 24,
                                                            Quận Bình Thạnh, Thành phố Hồ Chí Minh</span>&nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">

                                                    <div class="row">
                                                        <div class="col-6 col-lg-6 small">
                                                            <div style="white-space: nowrap;"><span>Điện:
                                                                </span><span class="fw-700">4,000</span><span
                                                                    class="fw-700">/kWh</span></div>
                                                            <div style="white-space: nowrap;"><span>Nước:
                                                                </span><span class="fw-700">100,000</span><span
                                                                    class="fw-700">/ng</span></div>
                                                            <div style="white-space: nowrap;"><span>Xe: </span><span
                                                                    class="fw-700">100,000</span><span
                                                                    class="fw-700">/xe</span></div>
                                                            <div style="white-space: normal;"><span>Quản lý:
                                                                </span><span class="fw-700">0</span><span
                                                                    class="fw-700">/ph</span></div>
                                                        </div>
                                                        <div class="col-6 col-lg-6 small">
                                                            <div style="white-space: nowrap;"><span>Wifi:
                                                                </span><span class="fw-700">Miễn phí</span></div>
                                                            <div style="white-space: nowrap;"><span>M.giặt:
                                                                </span><span class="fw-700">20,000</span><span
                                                                    class="fw-700">đ/lần</span></div>
                                                            <div style="white-space: nowrap;"><span>Thẻ:
                                                                </span><span class="fw-700">0</span><span
                                                                    class="fw-700">/ng</span></div>
                                                            <div style="white-space: normal;"><span>Phí DV:
                                                                </span><span class="fw-700">200,000</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div style="margin-bottom: 0;"
                                                    class="text-color-room-live text-left fs-11">


                                                    <span class="fs-10 c-pointer" data-sub-action="del-sale">Phòng được
                                                        bán</span>
                                                    <span><i class="mdi mdi-checkbox-marked-outline fs-15 text-info c-pointer"
                                                            data-sub-action="del-sale" title="Xóa bán phòng"></i></span>

                                                    <span class="fs-10 c-pointer text-success"
                                                        data-sub-action="edit-room-info"><i
                                                            class="mdi mdi-pencil c-pointer"></i>Edit phòng</span>


                                                    <span class="fs-10 c-pointer" data-sub-action="edit-house-name"><i
                                                            class="mdi mdi-home c-pointer"></i>Xem nhà</span>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="row div-noi-that">
                                            <div class="col-12">
                                                <hr>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Phòng: </span><span class="fw-800">Phòng thường</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Vị trí: </span><span class="fw-800">Lầu 5</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Diện tích: </span><span class="fw-800">28m2</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Toilet: </span><span class="fw-800">Riêng</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Để xe: </span><span class="fw-800">Chung</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Sân phơi: </span><span class="fw-800">Chung</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small p-r-0">
                                                        <span>Khóa cổng: </span><span class="fw-800">Khóa thường</span>
                                                    </div>
                                                    <div class="col-8 small p-0">
                                                        <span>Giờ giấc: </span><span class="fw-800">Tự do</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small p-r-0">
                                                        <span>SL xe: </span><span class="fw-800">3</span>
                                                    </div>
                                                    <div class="col-8 small p-0">
                                                        <span>SL người: </span><span class="fw-800">3</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small p-r-0">
                                                        <span>Cọc giữ chổ: </span><span class="fw-800">2,000,000</span>
                                                    </div>
                                                    <div class="col-4 small p-0">
                                                        <span>Hẹn bổ sung cọc: </span><span class="fw-800">5ngay</span>
                                                    </div>
                                                    <div class="col-4 small">
                                                        <span>Hẹn dọn vào: </span><span class="fw-800">7ngay</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <hr>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Gác: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Cửa sổ: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Ban công: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Tủ lạnh: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Tivi: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Máy giặt: </span><span class="fw-800">Chung</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Kệ bếp: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Bồn rửa chén: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Nước nóng: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Giường: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Nệm: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Tủ quần áo: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Chung chủ: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Thang máy: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Bảo vệ: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Máy lạnh: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Giếng trời: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small ">

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 small ">
                                                        <span>Nuôi thú cưng: </span><span class="fw-800">Không</span>
                                                    </div>
                                                </div>



                                                <div class="row">
                                                    <div class="col-12 small ">
                                                        <span>Ghi chú: </span>
                                                        <p class="fw-800"
                                                            style="white-space: pre-line;line-height: 12px;">HĐ 6-12 tháng,
                                                            HĐ 6 tháng cọc 1 tháng
                                                            HĐ 12 tháng cọc 1 tháng rưỡi</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6 col-xlg-4 m-b-10 content-room"
                                    data-key="63dcc5c2511ff4797a397b8f" is-process="Y"
                                    data-house_key="63dcc5c2511ff4797a397b62">
                                    <div class="card card-body p-2 m-b-10" style="min-height: 200px; ">
                                        <div class="row">

                                            <div class="row">
                                                <div class="col-12">
                                                    <p style="margin-bottom: 0;overflow: hidden;text-overflow: ellipsis;line-height: 12px; "
                                                        class="text-color-room-caretaker text-center fs-13 p-t-5 p-b-5">
                                                        <span class="span-house" style="color: #176ca7;">Phòng 503</span>
                                                        <span class="span-house" style="color: #176ca7;"> - </span>
                                                        <span class="span-house" style="color: #176ca7;">47/2/43 BÙI
                                                            ĐÌNH TUÝ</span>

                                                    </p>
                                                </div>



                                                <div class="col-12">
                                                    <div class="small text-center " style="width: 90% !important;">
                                                        <i class="mdi mdi-arrow-right-thick"></i><span
                                                            class="span-address">47/2/43 BÙI ĐÌNH TUÝ, Phường 24,
                                                            Quận Bình Thạnh, Thành phố Hồ Chí Minh</span>&nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">

                                                    <div class="row">
                                                        <div class="col-6 col-lg-6 small">
                                                            <div style="white-space: nowrap;"><span>Điện:
                                                                </span><span class="fw-700">4,000</span><span
                                                                    class="fw-700">/kWh</span></div>
                                                            <div style="white-space: nowrap;"><span>Nước:
                                                                </span><span class="fw-700">100,000</span><span
                                                                    class="fw-700">/ng</span></div>
                                                            <div style="white-space: nowrap;"><span>Xe: </span><span
                                                                    class="fw-700">100,000</span><span
                                                                    class="fw-700">/xe</span></div>
                                                            <div style="white-space: normal;"><span>Quản lý:
                                                                </span><span class="fw-700">0</span><span
                                                                    class="fw-700">/ph</span></div>
                                                        </div>
                                                        <div class="col-6 col-lg-6 small">
                                                            <div style="white-space: nowrap;"><span>Wifi:
                                                                </span><span class="fw-700">Miễn phí</span></div>
                                                            <div style="white-space: nowrap;"><span>M.giặt:
                                                                </span><span class="fw-700">20,000</span><span
                                                                    class="fw-700">đ/lần</span></div>
                                                            <div style="white-space: nowrap;"><span>Thẻ:
                                                                </span><span class="fw-700">0</span><span
                                                                    class="fw-700">/ng</span></div>
                                                            <div style="white-space: normal;"><span>Phí DV:
                                                                </span><span class="fw-700">200,000</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div style="margin-bottom: 0;"
                                                    class="text-color-room-live text-left fs-11">


                                                    <span class="fs-10 c-pointer" data-sub-action="del-sale">Phòng được
                                                        bán</span>
                                                    <span><i class="mdi mdi-checkbox-marked-outline fs-15 text-info c-pointer"
                                                            data-sub-action="del-sale" title="Xóa bán phòng"></i></span>

                                                    <span class="fs-10 c-pointer text-success"
                                                        data-sub-action="edit-room-info"><i
                                                            class="mdi mdi-pencil c-pointer"></i>Edit phòng</span>


                                                    <span class="fs-10 c-pointer" data-sub-action="edit-house-name"><i
                                                            class="mdi mdi-home c-pointer"></i>Xem nhà</span>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="row div-noi-that">
                                            <div class="col-12">
                                                <hr>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Phòng: </span><span class="fw-800">Phòng thường</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Vị trí: </span><span class="fw-800">Lầu 5</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Diện tích: </span><span class="fw-800">28m2</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Toilet: </span><span class="fw-800">Riêng</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Để xe: </span><span class="fw-800">Chung</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Sân phơi: </span><span class="fw-800">Chung</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small p-r-0">
                                                        <span>Khóa cổng: </span><span class="fw-800">Khóa thường</span>
                                                    </div>
                                                    <div class="col-8 small p-0">
                                                        <span>Giờ giấc: </span><span class="fw-800">Tự do</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small p-r-0">
                                                        <span>SL xe: </span><span class="fw-800">3</span>
                                                    </div>
                                                    <div class="col-8 small p-0">
                                                        <span>SL người: </span><span class="fw-800">3</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small p-r-0">
                                                        <span>Cọc giữ chổ: </span><span class="fw-800">2,000,000</span>
                                                    </div>
                                                    <div class="col-4 small p-0">
                                                        <span>Hẹn bổ sung cọc: </span><span class="fw-800">5ngay</span>
                                                    </div>
                                                    <div class="col-4 small">
                                                        <span>Hẹn dọn vào: </span><span class="fw-800">7ngay</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <hr>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Gác: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Cửa sổ: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Ban công: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Tủ lạnh: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Tivi: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Máy giặt: </span><span class="fw-800">Chung</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Kệ bếp: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Bồn rửa chén: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Nước nóng: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Giường: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Nệm: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Tủ quần áo: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Chung chủ: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Thang máy: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Bảo vệ: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Máy lạnh: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Giếng trời: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small ">

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 small ">
                                                        <span>Nuôi thú cưng: </span><span class="fw-800">Không</span>
                                                    </div>
                                                </div>



                                                <div class="row">
                                                    <div class="col-12 small ">
                                                        <span>Ghi chú: </span>
                                                        <p class="fw-800"
                                                            style="white-space: pre-line;line-height: 12px;">HĐ 6-12 tháng,
                                                            HĐ 6 tháng cọc 1 tháng
                                                            HĐ 12 tháng cọc 1 tháng rưỡi</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6 col-xlg-4 m-b-10 content-room"
                                    data-key="63dcc5c2511ff4797a397b93" is-process="Y"
                                    data-house_key="63dcc5c2511ff4797a397b62">
                                    <div class="card card-body p-2 m-b-10" style="min-height: 200px; ">
                                        <div class="row">



                                            <div class="row">
                                                <div class="col-12">
                                                    <p style="margin-bottom: 0;overflow: hidden;text-overflow: ellipsis;line-height: 12px; "
                                                        class="text-color-room-caretaker text-center fs-13 p-t-5 p-b-5">
                                                        <span class="span-house" style="color: #176ca7;">Phòng 507</span>
                                                        <span class="span-house" style="color: #176ca7;"> - </span>
                                                        <span class="span-house" style="color: #176ca7;">47/2/43 BÙI
                                                            ĐÌNH TUÝ</span>

                                                    </p>
                                                </div>


                                                <div class="col-12">
                                                    <div class="small text-center " style="width: 90% !important;">
                                                        <i class="mdi mdi-arrow-right-thick"></i><span
                                                            class="span-address">47/2/43 BÙI ĐÌNH TUÝ, Phường 24,
                                                            Quận Bình Thạnh, Thành phố Hồ Chí Minh</span>&nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">

                                                    <div class="row">
                                                        <div class="col-6 col-lg-6 small">
                                                            <div style="white-space: nowrap;"><span>Điện:
                                                                </span><span class="fw-700">4,000</span><span
                                                                    class="fw-700">/kWh</span></div>
                                                            <div style="white-space: nowrap;"><span>Nước:
                                                                </span><span class="fw-700">100,000</span><span
                                                                    class="fw-700">/ng</span></div>
                                                            <div style="white-space: nowrap;"><span>Xe: </span><span
                                                                    class="fw-700">100,000</span><span
                                                                    class="fw-700">/xe</span></div>
                                                            <div style="white-space: normal;"><span>Quản lý:
                                                                </span><span class="fw-700">0</span><span
                                                                    class="fw-700">/ng</span></div>
                                                        </div>
                                                        <div class="col-6 col-lg-6 small">
                                                            <div style="white-space: nowrap;"><span>Wifi:
                                                                </span><span class="fw-700">Miễn phí</span></div>
                                                            <div style="white-space: nowrap;"><span>M.giặt:
                                                                </span><span class="fw-700">20,000</span><span
                                                                    class="fw-700">đ/lần</span></div>
                                                            <div style="white-space: nowrap;"><span>Thẻ:
                                                                </span><span class="fw-700">0</span><span
                                                                    class="fw-700">/ng</span></div>
                                                            <div style="white-space: normal;"><span>Phí DV:
                                                                </span><span class="fw-700">200,000</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div style="margin-bottom: 0;"
                                                    class="text-color-room-live text-left fs-11">


                                                    <span class="fs-10 c-pointer" data-sub-action="del-sale">Phòng được
                                                        bán</span>
                                                    <span><i class="mdi mdi-checkbox-marked-outline fs-15 text-info c-pointer"
                                                            data-sub-action="del-sale" title="Xóa bán phòng"></i></span>

                                                    <span class="fs-10 c-pointer text-success"
                                                        data-sub-action="edit-room-info"><i
                                                            class="mdi mdi-pencil c-pointer"></i>Edit phòng</span>


                                                    <span class="fs-10 c-pointer" data-sub-action="edit-house-name"><i
                                                            class="mdi mdi-home c-pointer"></i>Xem nhà</span>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="row div-noi-that">
                                            <div class="col-12">
                                                <hr>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Phòng: </span><span class="fw-800">Phòng thường</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Vị trí: </span><span class="fw-800">Lầu 5</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Diện tích: </span><span class="fw-800">28m2</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Toilet: </span><span class="fw-800">Riêng</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Để xe: </span><span class="fw-800">Chung</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Sân phơi: </span><span class="fw-800">Chung</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small p-r-0">
                                                        <span>Khóa cổng: </span><span class="fw-800">Khóa thường</span>
                                                    </div>
                                                    <div class="col-8 small p-0">
                                                        <span>Giờ giấc: </span><span class="fw-800">Tự do</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small p-r-0">
                                                        <span>SL xe: </span><span class="fw-800">3</span>
                                                    </div>
                                                    <div class="col-8 small p-0">
                                                        <span>SL người: </span><span class="fw-800">3</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small p-r-0">
                                                        <span>Cọc giữ chổ: </span><span class="fw-800">2,000,000</span>
                                                    </div>
                                                    <div class="col-4 small p-0">
                                                        <span>Hẹn bổ sung cọc: </span><span class="fw-800">5ngay</span>
                                                    </div>
                                                    <div class="col-4 small">
                                                        <span>Hẹn dọn vào: </span><span class="fw-800">7ngay</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <hr>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Gác: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Cửa sổ: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Ban công: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Tủ lạnh: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Tivi: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Máy giặt: </span><span class="fw-800">Chung</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Kệ bếp: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Bồn rửa chén: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Nước nóng: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Giường: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Nệm: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Tủ quần áo: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Chung chủ: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Thang máy: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small ">
                                                        <span>Bảo vệ: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 small ">
                                                        <span>Máy lạnh: </span>
                                                        <span class="text-info fw-800">✔</span>
                                                    </div>
                                                    <div class="col-4 small p-r-2 p-l-2">
                                                        <span>Giếng trời: </span>
                                                        <span class="c-red fw-800">✘</span>
                                                    </div>
                                                    <div class="col-4 small ">

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 small ">
                                                        <span>Nuôi thú cưng: </span><span class="fw-800">Không</span>
                                                    </div>
                                                </div>



                                                <div class="row">
                                                    <div class="col-12 small ">
                                                        <span>Ghi chú: </span>
                                                        <p class="fw-800"
                                                            style="white-space: pre-line;line-height: 12px;">HĐ 6-12 tháng,
                                                            HĐ 6 tháng cọc 1 tháng
                                                            HĐ 12 tháng cọc 1 tháng rưỡi
                                                            30/8 trống</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>
    <!-- end row -->
</div>